@using Microsoft.AspNetCore.Components

@if (TypingUsers.Count > 0)
{
    <div class="typing-indicator">
        <span class="typing-text">
            @if (TypingUsers.Count == 1)
            {
                <span>@TypingUsers[0] is typing...</span>
            }
            else if (TypingUsers.Count == 2)
            {
                <span>@TypingUsers[0] and @TypingUsers[1] are typing...</span>
            }
            else
            {
                <span>@TypingUsers.Count people are typing...</span>
            }
        </span>
        <div class="typing-dots">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
}

@code {
    [Parameter] public List<string> TypingUsers { get; set; } = new();
}

